{{> header.mustache}}
<div class="row">
    <div class="col s4">
        <div class="card-panel">
            <h5>What is The Genie?</h5>
            <p>The Genie is a multi-platform instant messaging &amp; music bot!</p>
        </div>
    </div>
    <div class="col s4">
        <div class="card-panel">
            <h5>What can it do?</h5>
            <p>A lot of things...</p>
        </div>
    </div>
    <div class="col s4">
        <div class="card-panel">
            <h5>How can I use it?</h5>
            <p>BY using it lol.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s4">
        <div class="card-panel">
            <h5>Who made Genie?</h5>
            <p>Some cool people!</p>
        </div>
    </div>
    <div class="col s4">
        <div class="card-panel">
            <h5>How does it work?</h5>
            <p>It runs stuff.</p>
        </div>
    </div>
    <div class="col s4">
        <div class="card-panel">
            <h5>What is it programmed in?</h5>
            <p>
                Java for all the backend code, utilising libraries such as Netty and the Spark Framework. Html, css,
                javascript and a templating engine called mustache for the website front end.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s4">
        <div class="card-panel">
            <h5>Why does it need donations?</h5>
            <p>Servers cost money.</p>
        </div>
    </div>
    <div class="col s4">
        <div class="card-panel">
            <h5>How can I spread the word?</h5>
            <p>Doing kind things.</p>
        </div>
    </div>
    <div class="col s4">
        <div class="card-panel">
            <h5>Something</h5>
            <p>aa a a  a   a  a  a    a  a  aa a a a a  a a a </p>
        </div>
    </div>
</div>
{{> footer.mustache}}