extends ./layout.jade

block content
	.row
		.col.s4
			.card-panel
				h5 What is Genie?
				p.
					Genie is a multi-platform instant messaging &amp; music bot that tries to improve your experience when
					using platforms such as Discord, Slack, Telegram, Skype and IRC through a range of commands, utilities
					and functions.
		.col.s4
			.card-panel
				h5 What can it do?
				p.
					Genie can do lots of things...
		.col.s4
			.card-panel
				h5 How can I use it?
				p.
					By using it lol.
	.row
		.col.s4
			.card-panel
				h5 Who made Genie?
				p.
					Some pretty cool people!
		.col.s4
			.card-panel
				h5 How does it work?
				p.
					It runs stuff.
		.col.s4
			.card-panel
				h5 What is it programmed in?
				p.
					Java for all the backend code, as well as html, css, javascript and a templating language called Jade
					for the website.
	.row
		.col.s4
			.card-panel
				h5 Why does it need donations?
				p.
					Servers cost money.
		.col.s4
			.card-panel
				h5 How can I spread the word?
				p.
					Doing kind things.
		.col.s4
			.card-panel
				h5 What is it programmed in?
				p.
					Java for all the backend code, as well as html, css, javascript and a templating language called Jade
					for the website.