extends ./dashboard.jade

block control
	h5 Something
	p This is the management panel of something.

	.row
		form.col.s12
			.input-field
				textarea.materialize-textarea(id="textarea1")
				label(for="textarea1") Some text
