</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 45px;">
    <a class="btn-floating btn-large waves-effect waves-light light-blue accent-3" href="/invite">
        <i class="large material-icons">add</i>
    </a>
</div>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="materialize.js"></script>
<script src="core.js"></script>

</body>
</html>