extends ./layout.jade

block content
	.row
		.col.s4
			.card.hoverable
				.card-image
					img.activator(src="http://placehold.it/350x300")
					span.card-title About
				.card-content
					p On the about page, you can learn about what the bot does, how to start using it, how it works and the team behind it.
				.card-action
					a.light-blue-text.text-darken-3(href="/about") Learn about the bot
		.col.s4
			.card.hoverable
				.card-image
					img.activator(src="http://placehold.it/350x300")
					span.card-title Dashboard
				.card-content
					p The dashboard is where you can customise the bot in your chats, by using our custom yet simple to use panel.
				.card-action
					a.light-blue-text.text-darken-3(href="/login") Login to the dashboard
		.col.s4
			.card.hoverable
				.card-image
					img.activator(src="http://placehold.it/350x300")
					span.card-title Documentation
				.card-content
					p Read the documentation to find out detailed guides on using the bot, so you can enhance your GenieBot experience!
				.card-action
					a.light-blue-text.text-darken-3(href="#") Read the documentation