!!! 5
html
	head
		title #{title} | Genie Bot
		link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", type="text/css", href="core.css")
		link(rel="stylesheet", type="text/css", href="materialize.css")
		meta(name="viewport", content="width=device-width", initial-scale=1.0")
	body
		nav.light-blue.lighten-1
			.container
				.nav-wrapper
					a.brand-logo(href="/") Genie
					ul#nav-mobile(class="right hide-on-med-and-down")
						li: a(href="/") Home
						li: a(href="/about") About
						li: a(href="/donate") Donate
						li: a(href="/documentation") Documentation
						li: a.btn.light-blue.darken-1.waves-effect.waves-light(href="/login") Login
		.container
			.header
				h1.header #{header_title}
				p #{header_subtitle}
			block content
			script(src="https://code.jquery.com/jquery-2.1.1.min.js")
			script(src="materialize.js")