<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <p style="color: white">Welcome to the GenieBot dashboard<br />Stuck? <a href="/documentation">Read the docs</a>.</p>
            <a href="/logout"><div class="btn btn-primary btn-block">Logout</div></a>
        </div>
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li id="dashboard_item">
                <a href="/">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li id="documentation_item">
                <a href="/documentation">
                    <i class="fa fa-book"></i> <span>Documentation</span>
                </a>
            </li>
            <li id="manage_platforms_item">
                <a href="/platforms">
                    <i class="fa fa-th"></i> <span>Manage Platforms</span>
                </a>
            </li>

            <li class="header">DISCORD</li>
            <li id="myguild1_item">
                <a href="#">
                    <i class="fa fa-th-list"></i> <span>My Guild</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li id="myguild1_overview_item"><a href="/overview?network=1337"><i class="fa fa-laptop"></i> Overview</a></li>
                    <li id="myguild1_chat_item"><a href="/chat?network=1337"><i class="fa fa-comments"></i> Chat</a></li>
                    <li id="myguild1_roles_item"><a href="/roles?network=1337"><i class="fa fa-users"></i> Manage Roles</a></li>
                    <li id="myguild1_modules_item">
                        <a href="#"><i class="fa fa-plug"></i> Modules <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li id="myguild1_manage_module_item"><a href="/modules?network=1337&module=manage"><i class="fa fa-cogs"></i> Manage Modules</a></li>
                            <li id="myguild1_moderation_module_item"><a href="/modules?network=1337&module=moderation"><i class="fa fa-check text-green"></i> Moderation</a></li>
                            <li id="myguild1_music_module_item"><a href="/modules?network=1337&module=music"><i class="fa fa-check text-green"></i> Music Bot</a></li>
                            <li id="myguild1_bridges_module_item"><a href="/modules?network=1337&module=bridges"><i class="fa fa-check text-green"></i> Chat Bridges</a></li>
                            <li id="myguild1_shitposting_module_item"><a href="/modules?network=1337&module=shitposting"><i class="fa fa-times text-red"></i> Shitposting</a></li>
                            <li id="myguild1_chatterbot_module_item"><a href="/modules?network=1337&module=chatterbot"><i class="fa fa-check text-green"></i> Chatterbot</a></li>
                            <li id="myguild1_searchers_module_item"><a href="/modules?network=1337&module=searchers"><i class="fa fa-check text-green"></i> Searchers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="myguild2_item" class="treeview">
                <a href="#">
                    <i class="fa fa-th-list"></i> <span>My Guild</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/overview?network=1337"><i class="fa fa-laptop"></i> Overview</a></li>
                    <li><a href="/chat?network=1337"><i class="fa fa-comments"></i> Chat</a></li>
                    <li><a href="/roles?network=1337"><i class="fa fa-users"></i> Manage Roles</a></li>
                    <li id="myguild2_modules_item">
                        <a href="#"><i class="fa fa-plug"></i> Modules <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="/modules?network=1337&module=manage"><i class="fa fa-cogs"></i> Manage Modules</a></li>
                            <li><a href="/modules?network=1337&module=moderation"><i class="fa fa-check text-green"></i> Moderation</a></li>
                            <li><a href="/modules?network=1337&module=music"><i class="fa fa-check text-green"></i> Music Bot</a></li>
                            <li><a href="/modules?network=1337&module=bridges"><i class="fa fa-check text-green"></i> Chat Bridges</a></li>
                            <li><a href="/modules?network=1337&module=shitposting"><i class="fa fa-times text-red"></i> Shitposting</a></li>
                            <li><a href="/modules?network=1337&module=chatterbot"><i class="fa fa-check text-green"></i> Chatterbot</a></li>
                            <li><a href="/modules?network=1337&module=searchers"><i class="fa fa-check text-green"></i> Searchers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="header">SKYPE</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th-list"></i> <span>My Chat</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/overview?network=1337"><i class="fa fa-laptop"></i> Overview</a></li>
                    <li><a href="/chat?network=1337"><i class="fa fa-comments"></i> Chat</a></li>
                    <li><a href="/roles?network=1337"><i class="fa fa-users"></i> Manage Roles</a></li>
                    <li>
                        <a href="#"><i class="fa fa-plug"></i> Modules <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="/modules?network=1337"><i class="fa fa-cogs"></i> Manage Modules</a></li>
                            <li><a href="/modules?network=1337&module=moderation"><i class="fa fa-check text-green"></i> Moderation</a></li>
                            <li><a href="/modules?network=1337&module=bridges"><i class="fa fa-check text-green"></i> Chat Bridges</a></li>
                            <li><a href="/modules?network=1337&module=shitposting"><i class="fa fa-times text-red"></i> Shitposting</a></li>
                            <li><a href="/modules?network=1337&module=chatterbot"><i class="fa fa-check text-green"></i> Chatterbot</a></li>
                            <li><a href="/modules?network=1337&module=searchers"><i class="fa fa-check text-green"></i> Searchers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th-list"></i> <span>My Chat</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/overview?network=1337"><i class="fa fa-laptop"></i> Overview</a></li>
                    <li><a href="/chat?network=1337"><i class="fa fa-comments"></i> Chat</a></li>
                    <li><a href="/roles?network=1337"><i class="fa fa-users"></i> Manage Roles</a></li>
                    <li>
                        <a href="#"><i class="fa fa-plug"></i> Modules <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="/modules?network=1337"><i class="fa fa-cogs"></i> Manage Modules</a></li>
                            <li><a href="/modules?network=1337&module=moderation"><i class="fa fa-check text-green"></i> Moderation</a></li>
                            <li><a href="/modules?network=1337&module=bridges"><i class="fa fa-check text-green"></i> Chat Bridges</a></li>
                            <li><a href="/modules?network=1337&module=shitposting"><i class="fa fa-times text-red"></i> Shitposting</a></li>
                            <li><a href="/modules?network=1337&module=chatterbot"><i class="fa fa-check text-green"></i> Chatterbot</a></li>
                            <li><a href="/modules?network=1337&module=searchers"><i class="fa fa-check text-green"></i> Searchers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th-list"></i> <span>My Chat</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/overview?network=1337"><i class="fa fa-laptop"></i> Overview</a></li>
                    <li><a href="/chat?network=1337"><i class="fa fa-comments"></i> Chat</a></li>
                    <li><a href="/roles?network=1337"><i class="fa fa-users"></i> Manage Roles</a></li>
                    <li>
                        <a href="#"><i class="fa fa-plug"></i> Modules <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="/modules?network=1337"><i class="fa fa-cogs"></i> Manage Modules</a></li>
                            <li><a href="/modules?network=1337&module=moderation"><i class="fa fa-check text-green"></i> Moderation</a></li>
                            <li><a href="/modules?network=1337&module=bridges"><i class="fa fa-check text-green"></i> Chat Bridges</a></li>
                            <li><a href="/modules?network=1337&module=shitposting"><i class="fa fa-times text-red"></i> Shitposting</a></li>
                            <li><a href="/modules?network=1337&module=chatterbot"><i class="fa fa-check text-green"></i> Chatterbot</a></li>
                            <li><a href="/modules?network=1337&module=searchers"><i class="fa fa-check text-green"></i> Searchers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>