{{> header.mustache }}
<div class="row">
    <section class="col-lg-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">What is the moderation module?</h3>
                <div class="box-tools pull-right">
                    <a href="#"><div class="btn btn-danger btn-sm">Disable module</div></a>
                </div>
            </div>
            <div class="box-body">
                Genie's moderation module allows you to keep your community under control with a range of automated
                features and utility commands.
            </div>
        </div>
    </section>
</div>
{{> footer.mustache }}
