extends ./layout.jade

block content
	.row
		ul.collection
			li.collection-item.center-align.
				Already have an account? Click <a href="/login">here</a> to login.
	.row
		form.col.s12
			include input_email.jade
			include input_password.jade
			include input_password.jade
			.row
				.col.s12
					button.btn.waves-effect.waves-light(type="submit", name="action") Submit
						i.material-icons.right send