extends ./layout.jade

block content
	.row
		.col.s4
			.card
				.card-content
					span.card-title Discord
					p Here are all the Discord guilds you can manage. <a href="#">Can't see a guild?</a>
			ul.collection
				a.collection-item.avatar(href="/dashboard?network=1337")
					img.circle(src="http://placehold.it/150x150")
					span.title My Guild
					p Some descriptive line
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title Some Guild
					p Some descriptive line
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title Another Guild
					p Some descriptive line
				a.collection-item
					center: i.material-icons more_horiz
		.col.s4
			.card
				.card-content
					span.card-title Skype
					p A list of all ur fucken skype chats tbh
			ul.collection
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title My Chat
					p Some descriptive line
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title My Chat
					p Some descriptive line
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title My Chat
					p Some descriptive line
				a.collection-item
					center: i.material-icons more_horiz
		.col.s4
			.card
				.card-content
					span.card-title Slack
					p A list of all ur fucken skype chats tbh
			ul.collection
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title My Chat
					p Some descriptive line
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title My Chat
					p Some descriptive line
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title My Chat
					p Some descriptive line
				a.collection-item
					center: i.material-icons more_horiz
	.row
		.col.s4
			.card
				.card-content
					span.card-title Telegram
					p A list of all ur fucken skype chats tbh
			ul.collection
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title My Chat
					p Some descriptive line
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title My Chat
					p Some descriptive line
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title My Chat
					p Some descriptive line
				a.collection-item
					center: i.material-icons more_horiz
		.col.s4
			.card
				.card-content
					span.card-title IRC
					p A list of all ur fucken skype chats tbh
			ul.collection
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title My Chat
					p Some descriptive line
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title My Chat
					p Some descriptive line
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title My Chat
					p Some descriptive line
				a.collection-item
					center: i.material-icons more_horiz
		.col.s4
			.card
				.card-content
					span.card-title API
					p A list of all ur fucken skype chats tbh
			ul.collection
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title My Chat
					p Some descriptive line
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title My Chat
					p Some descriptive line
				a.collection-item.avatar
					img.circle(src="http://placehold.it/150x150")
					span.title My Chat
					p Some descriptive line
				a.collection-item
					center: i.material-icons more_horiz