{{> dashboard_head.mustache}}
<h5>Something</h5>
<p>This is the management panel of something.</p>
<div class="row">
    <form class="col s12">
        <div class="input-field">
            <textarea class="materialize-textarea" id="textarea1"></textarea>
            <label for="textarea1">Some text</label>
        </div>
    </form>
</div>
{{> dashboard_foot.mustache}}