{{> header.mustache}}
<div id="clients_list" style="display: none;">{{clients_list}}</div>
<div id="discord_networks" style="display: none;"></div>
<div id="skype_networks" style="display: none;">{{skype_networks}}</div>
<div id="slack_networks" style="display: none;"></div>
<div id="telegram_networks" style="display: none;"></div>
<div id="irc_networks" style="display: none;"></div>
<div class="row">
    <center>
        <a class="btn btn-block light-blue accent-3 waves-effect waves-light" href="/logout">Logout</a>
    </center>
</div>
<br />
<div class="row">
    <div id="network-selection"></div>
</div>
{{> footer.mustache}}